<div class="card">
  <div class="card-header">
    <h1>{{pageTitle}}</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/obrazwro.jpeg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Mikołaj Kozłowski</h3>
      </div>

      <div class="text-center">wroclawroutesgmail.com</div>
      <div class="text-center">
        <a href="https://github.com/mikolajkozlowskiii">github</a>
      </div>
      <div class="container">
        <header class="jumbotron">
          <p>{{ content }}</p>
        </header>
      </div>
    </div>
  </div>
</div>
