.container {
    overflow-x: auto;
  }
  
  .mat-cell .btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .mat-cell .btn {
    margin-bottom: 5px;
  }
  

.mat-elevation-z8{
    margin-top: 25px;
}