<div class="container">
  <div class="map-card">
    <div id="map" class="map" [class.blurred]="isLocateMeLaunched"></div>
    
    <button (click)="useCurrentLocation()" class="location-button btn btn-secondary">
      <i class="bi bi-crosshair2"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="46" fill="currentColor" class="bi bi-crosshair" viewBox="0 0 16 16">
        <path d="M8.5.5a.5.5 0 0 0-1 0v.518A7 7 0 0 0 1.018 7.5H.5a.5.5 0 0 0 0 1h.518A7 7 0 0 0 7.5 14.982v.518a.5.5 0 0 0 1 0v-.518A7 7 0 0 0 14.982 8.5h.518a.5.5 0 0 0 0-1h-.518A7 7 0 0 0 8.5 1.018zm-6.48 7A6 6 0 0 1 7.5 2.02v.48a.5.5 0 0 0 1 0v-.48a6 6 0 0 1 5.48 5.48h-.48a.5.5 0 0 0 0 1h.48a6 6 0 0 1-5.48 5.48v-.48a.5.5 0 0 0-1 0v.48A6 6 0 0 1 2.02 8.5h.48a.5.5 0 0 0 0-1zM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
      </svg> 
      Locate me
    </button>
  
    <div *ngIf="isLocateMeLaunched" class="overlay d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  
  <div class="info-card">
    <div class="form-container">
      <form (ngSubmit)="onSubmit()" #routeForm="ngForm">
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Picked locations</mat-label>
          <div class="scrollable-chip-list">
            <mat-chip-list #chipList aria-label="Location selection">
              <mat-chip *ngFor="let coord of coordinates" (removed)="remove(coord)">
                Location {{coord.id}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </div>
        </mat-form-field>
        
        <div *ngIf="coordinates.length === 0" class="text-danger">
         
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]="formData.description" name="description" rows="5" required minlength="5"></textarea>
        </div>

        <div *ngIf="routeForm.controls['description']?.invalid && (routeForm.controls['description']?.dirty || routeForm.controls['description']?.touched)" class="text-danger">
          Description must be at least 5 characters long.
        </div>

        <div class="options-container">
          <div class="tags-select">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Tags</mat-label>
              <mat-select [(ngModel)]="formData.tags" name="tags" multiple required>
                <mat-option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="formData.tags.length === 0" class="text-danger">
     
          </div>

          <div class="checkboxes">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck2" (change)="onCheckboxIsPublicChange($event)">
              <label class="form-check-label" for="exampleCheck2">Make route public</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="onCheckboxIsOptimizedChange($event)">
              <label class="form-check-label" for="exampleCheck1">Optimize this route</label>
            </div>
          </div>
        </div>

        <mat-form-field appearance="fill" *ngIf="formData.isOptimized && coordinates.length > 0">
          <mat-label>Select depot</mat-label>
          <mat-select [(ngModel)]="formData.depot" name="depot">
            <mat-option *ngFor="let coord of coordinates" [value]="coord.id">Location {{coord.id}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" class="btn btn-primary w-100" style="padding: 10px;" [disabled]="!routeForm.form.valid || coordinates.length === 0 || formData.tags.length === 0">
          Create route
        </button>
      </form>
    </div>
    
    <div *ngIf="isLoading" class="overlay">
      <mat-spinner></mat-spinner>
      <p>Route is being created, please wait...</p>
    </div>
  </div>
</div>
